.header
  .logo.left
    %span.outer
      J
      %span.inner erel
    %span.outer.last
      m
      %span.inner iller

  .right
    %ul.menu
      %li.current= link_to 'HOME', '#'
      %li= link_to 'WORK', '#'
      %li= link_to 'SERVICES', '#'
      %li= link_to 'CONTACT', '#'

  .clear
  .cool-divider